<section class="space-y-4 mt-4">
  <div>
    <h3>Gratitude</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae harum placeat, amet maiores facere quas rerum similique tenetur at sed pariatur dolore voluptatibus fugiat, neque laboriosam ducimus? Minima, porro doloremque!
    </p>
  </div>
  <div>
    <h3>Goals</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae harum placeat, amet maiores facere quas rerum similique tenetur at sed pariatur dolore voluptatibus fugiat, neque laboriosam ducimus? Minima, porro doloremque!
    </p>
  </div>
  <div>
    <h3>Worked on</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae harum placeat, amet maiores facere quas rerum similique tenetur at sed pariatur dolore voluptatibus fugiat, neque laboriosam ducimus? Minima, porro doloremque!
    </p>
  </div>
  <div>
    <h3>Learned</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae harum placeat, amet maiores facere quas rerum similique tenetur at sed pariatur dolore voluptatibus fugiat, neque laboriosam ducimus? Minima, porro doloremque!
    </p>
  </div>
</section>