<footer class="flex items-center justify-between bg-white w-full shadow fixed p-3">
  <p class="text-blue-700">
    Jonny Heemstra
  </p>
  <p class="italic text-xs text-gray-700 font-semibold">
    Ski, Climb, Code, Repeat
  </p>
  <ul class="flex items-center ml-6 ml-2 space-x-2">
    <li class="p-1 rounded hover:bg-blue-100 active:bg-blue-200">
      <a href="">LinkedIn</a>
    </li>
    <li class="p-1 rounded hover:bg-blue-100 active:bg-blue-200">
      <a href="">GitHub</a>
    </li>
    <li class="p-1 rounded hover:bg-blue-100 active:bg-blue-200">
      <a href="">Twitter</a>
    </li>
  </ul>
</footer>