<header class="bg-white w-full shadow">
  <nav class="p-4">
    <div class="flex items-center divide-x divide-blue-500">
      <h1 class="pr-3 leading-none">Jonny Heemstra</h1>
      <p class="pl-3 italic text-blue-700 font-medium">Work Journal</p>
    </div>
  </nav>
</header>